<% include ../header.ejs %>
    
<% include ./sidebar.ejs %>

<div class="col-sm-10">

    <div class="panel panel-default">
        <div class="panel-heading">
            <%= contacts.title %>
        </div>
        <div class="panel-body">
            <div style="padding-bottom: 10px">
                작성일 :
                <%= contacts.getDate.year%> - 
                <%= contacts.getDate.month%> - 
                <%= contacts.getDate.day%>
            </div>
            <div style="padding-bottom: 10px">

        
            <%=contacts.content%>
            </div>
            <div>
            <%=contacts.user%>

            </div>

        
        </div>
    </div>

    <a href="/admin/contactss" class="btn btn-default">목록으로</a>
    <a href="/admin/contactss/edit/<%=contacts.id%>" class="btn btn-primary">수정</a>
</div>


<script>
    (function(){
        $(document).ready(function() {
            $('#commentForm').submit(function(){
                var $contentVal = $(this).children('textarea[name=content]').val();
                $.ajax({
                    url: '/admin/contactss/ajax_comment/insert',
                    type: 'POST',
                    data: $(this).serialize(),
                })
                .done(function(args) {
                    if(args.message==="success"){
                        $('#comment_area').append(
                            '<div>' + args.content + '(<a class="comment_delete" comment_id="' + args.id + '">삭제</a> ) </div>'
                        );
                        $('#commentForm textarea[name=content]').val("");
                    }
                    console.log(args)
                    
                })
                .fail(function(args) {
                    console.log(args);
                });
                return false;
            });
        });

        $(document).on('click' , '.comment_delete' , function(){
            if(confirm('삭제하시겠습니까?')){ //확인창 예 눌렀을 시만 진행
                var $self = $(this);
                $.ajax({
                    url: '/admin/contactss/ajax_comment/delete',
                    type: 'POST',
                    data: { comment_id : $self.attr('comment_id') },
                })
                .done(function() {
                    $self.parent().remove();
                    alert("삭제가 완료되었습니다.");
                })
                .fail(function(args) {
                    console.log(args);
                });
            }
        });
    })();
</script>
    


<% include ../footer.ejs %>